<launch>

<arg name="namespace" default="sam"/>

<node name="tf_listener" pkg="state_feedback" type="tf_listener" output="screen" >
    <param name="odom_frame" value="$(arg namespace)_odom"/>
    <param name="base_frame" value="$(arg namespace)/base_link"/>
    <param name="world_frame" value="world"/>
    <param name="loop_freq" value="50" />
</node>

</launch>
