<launch>
  <arg name="namespace" default="sam"/>
  <arg name="robot_xacro" default="sam_auv_default.urdf.xacro"/>

  <group>
    <push-ros-namespace namespace="$(var namespace)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" exec="joint_state_publisher">
      <param name="rate" value="300"/>
      <param name="source_list" value="['command_states']"/>
    </node>

    <!-- TODO: why use / for namespacing frames when its meaning is murky? -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" respawn="true" output="screen">
      <param name="frame_prefix" value="$(var namespace)/"/>
      <param name="robot_description" 
           value="$(command '$(find-exec xacro) $(find-pkg-share sam_description)/robots/$(var robot_xacro)')"/>
    </node>

  </group>

</launch>
