<launch>
  <arg name="namespace" default="sam"/>

  <group>
    <push-ros-namespace namespace="$(arg namespace)">

    <node name="joint_state_publisher" pkg="joint_state_publisher" exec="joint_state_publisher">
      <param name="rate" value="300"/>
      <param name="source_list" value="\'command_states\';" value-sep=";"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" 
           value="$(find-pkg-prefix xacro)/xacro '/$(var namespace)/$(find-pkg-prefix sam_description)/urdf/sam_auv.urdf.xacro' robot_namespace:=$(var namespace)" />
    </node>

  </group>

</launch>
